.d3-tip {
  line-height: 1;
  padding: 5px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
  tabindex: -1;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.node:hover {
  stroke: #000;
}

.labelproj {
  font-weight: bold;
  text-anchor: start;
}

.labeluser {
  text-anchor: start;
}

.ui-btn {
    fill: #aaa;
}
.ui-btn:hover {
    fill: #ccc;
}

.ui-btn-label {
    cursor: default;
    text-anchor: middle;
    font-size: 14pt;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#back {
    font-size: 24pt;
}